.col-sm-3
	.item.text-center
		%h1 Blog
.col-sm-3
	.item.text-center
		.img.img-github
		%h1 Github
.col-sm-3
	.item.text-center
		.img.img-so
		%h1 Stack Overflow
.col-sm-3
	.item.text-center
		%h1 CV


